<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Contact</title>

    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">

</head>
<body>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="/main" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="/management" role="tab" aria-controls="nav-profile" aria-selected="false">Menu</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="/contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
    <a class="nav-item nav-link" id="nav-userlist-tab" data-toggle="tab" href="/waitlist" role="tab" aria-controls="nav-userlist" aria-selected="false">User list</a>
  </div>
</nav>
<div align="center">
<div class="card border-dark mb-3"  style="max-width: 18rem;">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
  <div class="card-header">Contact numbers</div>
  <div class="card-body text-dark">
    <h5 class="card-title">Manager number:</h5>
    <p class="card-text">+7747 747 4747 <br/>+7747 544 444</p>
  </div>
    </div>
</div>
</div>
</body>


</html>